:root {
--desaturated-red: hsl(0, 36%, 70%);
--soft-red: hsl(0, 93%, 68%);
--dark-grayish-red: hsl(0, 6%, 24%);
--font-size-body: 16px;
--font-family-body: 'Josefin Sans', sans-serif;
}

body{
    background-image: url('images/bg-pattern-desktop.svg');
    object-fit: cover;
    /*overflow-y: hidden;*/
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    background-color: var(--background-gradient-one);
    margin-left: 150px;

    header {
        margin-top: 50px;
    }
}

@import 'hero';

footer {
    margin-top: 90px;
}